{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css"  href="/static/css/login.css">
{% endblock %}
{% block content %}
    <div class="content">
        <fieldset>
            <form action="/login" method="POST">
                <legend>Login</legend>
                <ul>
                    <li><label class="login_label">username:</label><input name="username"></li>
                    <li><label class="login_label">password:</label><input type="password" name="password"></li>
                    <li><span id="res_tip"></span></li>
                    <li><input type="submit" value="login" /></li>
{#                    <li><button onclick="submit()"> login</button></li>#}
                </ul>
            </form>
        </fieldset>
    </div>
{% endblock %}
{% block script %}
    <script>
        function submit(){
            var username=document.getElementsByName("username")[0].value;
            var password=document.getElementsByName("password")[0].value;
            var data = {"username":username, "password":password}
            xmlhttp=new XMLHttpRequest();
            xmlhttp.open("POST", "/login", true);
            xmlhttp.send(JSON.stringify(data));
            xmlhttp.onreadystatechange=function(){
                if (xmlhttp.readyState==4 && xmlhttp.status==200){
                    document.getElementById("res_tip").innerHTML=xmlhttp.responseText;
                }
            }
        }
    </script>
{% endblock %}